nav {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

nav ul {
  display: grid;

  grid-template-columns: repeat(2, 100px) 1fr repeat(3, 55px);

  list-style-type: none;
}

nav a {
  font-weight: 700;
  font-size: 2.5vh;
  color: #fff;
  text-decoration: none;
}
nav a:hover {
  color: lightgray;
}

@media (max-width: 600px) {
  nav ul {
    padding: 4vw 0;
    margin: 0;
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 4vw 0;
  }
  nav ul li {
    justify-items: center;
    justify-content: center;
  }
  nav a {
    font-size: 4vw;
  }
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
